.pre-header{
    background-color: black;
    font-size: 30px;
}
.pre-header .menu{
    list-style: none;
    padding-top: 15px;
}
.pre-header .menu li{
    display: inline-block;
    margin-left: 25px;
}
.pre-header .menu li a{
    color: rgb(224, 203, 148);
}
.pre-header .menu li p{
    color:rgb(224, 203, 148) ;
    margin-top:  200px;
    font-size: 32px;
}
.shadow{
    background-color: rgb(224, 203, 148);
    padding: 10px;
    font-size: 50px;
    color: black;
    font-family: monospace 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.glavni{
    background-color: rgb(224, 203, 148);
    color: black;
    font-size: 30px;
}
.tekst {
    list-style: none;
    font-size: 45px;
    color: black;
    background-color: rgb(243, 236, 217) ;
    padding-top: 20px;
}
.tekst ul li{
    list-style: none;
    font-size: 35px;
}
.tekst h2{
    padding-top: 60px;
}
.Reference p{
    background-color: rgb(224, 203, 148);
    font-size: 30px;
}
.Reference ul li{
    background-color: white;
    padding-bottom: 15px;
    font-size: 20px;